* {
    font-family: Calibri, sans-serif; 
    font-weight: normal;
    color: #333;
}

body {
    margin: 0; 
    position: relative;
    background-color: #222;
}

.container {
    position: relative; 
    top: -500px; 
    width: 600px; 
    margin: 0 auto;
    transform-origin: 10px 10px;
    animation: swing 5s ease forwards;
}

h1{
    font-size: 48px;
    margin: 10px 0;
}

p {
    margin-bottom: 40px;
    line-height: 25px;
}

.bike {
    position: relative;
    top: 10px;
    width: 100px;
    left: 0px;
}

.pop-up {
    text-align: center;
    background: #f0e4d4; 
    padding: 30px; 
    position: relative; 
    top: 5px; 
    width: 100%; 
    box-sizing: border-box;
}

.email {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px 0 0 10px;
    font-size: 18px;
    text-align: center;
}

.btn {
    padding: 10px;
    color: #fff;
    background: #333;
    margin-left: -5px;
    border: 1px solid #333;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
}

.cross-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #555;
    color: #ddd;
    font-weight: bold;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
}

@keyframes swing {
    0% {
        transform: translateY(600px) rotateZ(0deg);
    }
    25% {
        transform: translateY(600px) rotateZ(45deg);
    }
    100% {
        transform: translateY(600px) rotateZ(0deg);
    }
}